@model Beleshki.Models.Fakultet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fakultet</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>
        <dd class="col-sm-10">
            @{
                var fileName2 = Model.LogoURL.Substring(Model.LogoURL.LastIndexOf('/') + 1);
            }
            @if (Model.LogoURL.Contains("http"))
            {
                <img src="@(Model.LogoURL)" alt="logo" width="50px" height="50px">
            }
            else
            {
                <img src="/UploadedFiles/@fileName2" alt="logo" width="50px" height="50px">
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FakultetIme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FakultetIme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniverzitetIme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniverzitetIme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
